.tituloPrincipal {
  padding-left: 20px;
}

.principal {
  background-color: gray;
  padding: 30px;
}

.centro {
  text-align: center;
}

#titulo {
  text-align: center;
}

img.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.imagem-beneficios {
  width: 50%;
}

strong em {
  color: red;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.beneficios {
  background-color: #ffffff;
  padding: 20px;
}

.tituloPrincipal{
  padding-left: 20px;
  font-size: 40px;
}